<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819665618250-3f1a164547hrk43qvq0202lj4aookr19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819665618250-3f1a164547hrk43qvq0202lj4aookr19</string>
	<key>API_KEY</key>
	<string>AIzaSyC6L7gktmdEkMlWgt7sU3vqrjRE7JAwo2o</string>
	<key>GCM_SENDER_ID</key>
	<string>819665618250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BookSwap</string>
	<key>PROJECT_ID</key>
	<string>bookswap-817f6</string>
	<key>STORAGE_BUCKET</key>
	<string>bookswap-817f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819665618250:ios:8b66866836eb8653236db3</string>
	<key>DATABASE_URL</key>
	<string>https://bookswap-817f6.firebaseio.com</string>
</dict>
</plist>